/* Add your CSS to this file */
body {
  margin: 0;
  font-size: 18px; /* was 16px when first got file */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 20fr 1fr;
}

header h1 {
  float: left;
  font-size: 18px;
  padding-top: 4px;
}

nav ul {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #6b7280;
  /* font-weight: bold; */
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav a:hover {
  color: #5a67d8;
}

/* OVERVIEW SECTION */

.overview-hero {
  background-color: #e2e8f0;
}

.overview-hero .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 60px 0;
}

.overview-hero-image {
  float: left;
}

.overview-hero-image img {
  width: 300px;
  background-color: none;
}

.overview-hero-text {
  float: right;
  padding-top: 10px;
  padding-left: 80px;
}

/* Cards */

.learn-about {
  margin-bottom: 30px;
}

.learn-about .container h2 {
  font-size: 24px;
  color: #48bb78;
  padding: 12px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.card {
  border-style: none;
  border-color: #e2e8f0;
  border-radius: 5px;
  box-shadow: 0 2px 8px #424242;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 15px;
}

.card .card-body h3 {
  color: #48bb78;
  font-size: 21px;
}

/* TESTING SECTION */

.testing {
  background-color: #4a5568;
  color: white;
}

.testing .container {
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.testing-desciption {
  padding: 0 20px;
  float: left;
}

.cta {
  float: right;
  text-align: center;
}

.testing .cta a {
  color: white;
  background-color: #48bb78;
  border-radius: 5px;
  text-decoration: none;

  padding: 10px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.stories h2,
a {
  color: #5a67d8;
}

.stories h3 {
  font-size: 18px;
}

/* image sizing incomplete */
.stories img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.newsletter {
  background-color: #48bb78;
  color: white;
}

.newsletter button {
  background-color: #5a67d8;
}

footer {
  background-color: #4a5568;
  color: white;
}
